<div [ngClass]="{'show':alertMessage!=='','fade':alertMessage==''}" class="alert alert-danger" role="alert">
  {{alertMessage}}
</div>
<div>
  <br/>
</div>
<form>
  <div style="height: 40px;" class="row">
    <div class="col  align-middle ">
      <span>Solr Url</span>
    </div>
    <div class="col ">
      <input type="text " class="form-control " [(ngModel)]="solrUrl " (blur)="solrUrlChange($event)
      " [ngModelOptions]="{standalone: true} " />
    </div>
    <div class="col   align-middle">
      <p>Solr Core</p>
    </div>
    <div class="col ">

      <select [(ngModel)]="solrCore " class="form-control " (ngModelChange)="solrCoreChange($event)
      " [ngModelOptions]="{standalone: true} ">
        <option *ngFor="let core of solrCores " [ngValue]="core ">{{core}}</option>
      </select>
    </div>
    <div class="col   align-middle">
      <p>Page Size</p>
    </div>
    <div class="col ">

      <select [ngModel]="pageSize " class="form-control " (ngModelChange)="pageSizeChange($event) " [ngModelOptions]="{standalone:
      true} ">
        <option>10</option>
        <option>20</option>
        <option>50</option>
        <option>100</option>
      </select>
    </div>
  </div>
  <div class="row ">
    <br/>
  </div>
</form>
<div class="row container">

  Display Fields&nbsp;
  <span *ngFor="let column of displayedColumns" class="badge badge-pill badge-dark" style="margin: 1px;">{{column.name}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="removeField(column)">
      <span aria-hidden="true">&times;</span>
    </button>
  </span>
</div>
<div>
  <br/>
</div>
<div class="row container">
  Other Field &nbsp;
  <span *ngFor="let column of removedColumns" class="badge badge-pill badge-dark" style="margin: 1px;">{{column.name}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Add" (click)="addField(column)">
      <span aria-hidden="true">+</span>
    </button>
  </span>
</div>
<div>
  <br/>
</div>
<nav aria-label="Page navigation example ">
  <ul *ngIf="pager.totalPages> 1" class="pagination justify-content-start">
    <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
      <a class="page-link" (click)="setPage(1)" href="#">First</a>
    </li>
    <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
      <a class="page-link" (click)="setPage(pager.currentPage - 1)" href="#">Previous</a>
    </li>
    <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
      <a class="page-link" (click)="setPage(pager.currentPage + 1)" href="#">Next</a>
    </li>
    <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
      <a class="page-link" (click)="setPage(pager.totalPages)" href="#">Last</a>
    </li>
  </ul>
</nav>

<span *ngFor="let column of validFilteredColumns(displayedColumns)" class="badge badge-pill badge-dark">{{column.name + ' '+column.filterType+' '+column.filterValue}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="clearFilter(column)">
    <span aria-hidden="true">&times;</span>
  </button>
</span>
<br>

<table class="table table-bordered  table-striped">
  <thead>
    <tr>
      <th *ngFor="let column of displayedColumns" scope="col">
        <p class="text-capitalize">{{ column.name }}</p>

        <div class="row" style="width: 200px;" *ngIf="column.type == 'text_general' || column.type == 'string' || column.type == 'long' || column.type =='pint' || column.type =='pfloat'">
          <div class="col">
            <select [(ngModel)]="column['filterType']" class="form-control" (ngModelChange)="queryChange($event)">
              <option *ngIf="column.type == 'text_general' || column.type == 'string'">contains</option>
              <option *ngIf="column.type == 'text_general' || column.type == 'string'">starts with</option>
              <option *ngIf="column.type == 'text_general' || column.type == 'string'">ends with</option>
              <option *ngIf="column.type == 'text_general' || column.type == 'string' || column.type == 'long' || column.type =='pint' || column.type =='pfloat'">equals</option>
              <option *ngIf="column.type == 'long' || column.type =='pint' || column.type =='pfloat'">greater than or equal</option>
              <option *ngIf="column.type == 'long' || column.type =='pint' || column.type =='pfloat'">less than or equal</option>
            </select>
          </div>
          <div class="col">
            <input type="search" class="form-control" [(ngModel)]="column['filterValue']" (keyup)="queryChange($event)" />
          </div>
        </div>
        <div class="row" *ngIf="column.type == 'boolean'">
          <select [(ngModel)]="column['filterValue']" class="form-control" (ngModelChange)="queryChange($event)">
            <option>All</option>
            <option>True</option>
            <option>False</option>
          </select>
        </div>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of dataSource">
      <td *ngFor="let column of displayedColumns">
        <span class="d-inline-block text-truncate" style="max-width: 200px;" data-toggle="tooltip" title="{{ row[column.name] }}">
          {{ row[column.name] }}
        </span>
      </td>
    </tr>
  </tbody>
</table>
